<div class="container">
  <div class="row">
    <div class="col-lg-6" id="search">
      <h1>Products</h1>
      <p>Type in the name of the product and the product description here and click "Add Product" to add product to your list. To remove a product, simply click the remove product sign on the product you wish to remove from the results list.
      </p>
     <form #form="ngForm" (ngSubmit)="addProduct(form.value)">
        <input type="text" placeholder="Product name" name="title" [(ngModel)]="title">
        <textarea placeholder="Product description.." name="description" [(ngModel)]="description" rows="3"></textarea>
        <button id="btn" type="submit">Add Product</button>
      </form>
    </div>
    <div class="col-lg-6" id="search">
      <p id="results-label">{{ products.length }} Results</p>
      <ul id="products-list">
        <li [@productsAnim]="state" *ngFor="let product of products; let i = index">{{ product.title }}
          <img src="../assets/delete.svg" (click)="removeProduct(i)">
          <p>{{ product.description }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>